@import url(/fonts/forza.css);

body {
    margin: 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "forzamedium";
}

a {
    text-decoration: none;
    color: white;
    transition: ease-in-out 400ms;
    padding: 0.5em;
    border-radius: 10px;
}

/*  */

header {
    background-image: url(/imgs/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 100%;
    border-bottom: #FF5000 0.5em solid;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    animation-name: headermove;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes headermove {
    to {
        background-position: 1920px;
    }
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header span, header a {
    margin: 0 10px;
}

header span {
    padding: 0.5em;
    transition: ease-in-out 400ms;
    border-radius: 10px;
}

header img {
    height: 90px;
}

.bunny {
    height: 50%;
    align-self: flex-end;
}

a:hover, span:hover {
    background-color: #FF5000;
    cursor: pointer;
}

.icon {
    align-self: flex-end;
    padding: 0;
}

.icon:hover {
    background: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    margin-top: 0.5em;
    margin-left: 0.5em;
    min-width: 10em;
    box-shadow: 0px 0.5em 1em 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 0.75em 1em;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #FF5000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover span,
.dropdown span:focus,
.dropdown span:active {
    background-color: #FF5000;
    border-radius: 0.375em;
    color: white;
    cursor: pointer;
}

/*  */

main div {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: gray 3px solid;
    padding: 1em;
    margin-bottom: 2em;
    width: 80%;
}

.videos h2 {
    margin: 0;
}

.videos a {
    text-decoration: underline;
}
.videos a:hover {
    background: none;
    color: #FF5000;
}
.videos iframe {
    width: 100%;
    max-width: 800px;
    height: 400px;
}

.abt {
    border-bottom: #FF5000 0.5em solid;
}

/*  */

.feat {
    background-image: url(/imgs/people-bg.jpg);
    background-position: center;
    margin-top: 0;
    padding-bottom: 2em;
    border-bottom: #FF5000 dotted 0.5em;
}

.users {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 700px;
    margin-top: 0;
}

.user-profile {
    margin: 0 10px;
    width: 160px;
}

.user-profile > img {
    height: 100px;
    border-radius: 50%;
}

.user-profile p img {
    margin: 0 3px;
}

.user-profile a {
    color: #FF5000;
}

.user-profile a:hover {
    background: none;
    text-decoration: underline;
}

.popup {
    position: absolute;
    background-image: url(/imgs/bg.jpg);
    color: white;
    padding: 0.3125em;
    border-radius: 0.3125em;
    border: 0.0625em solid #FF5000;
    z-index: 1000;
    font-family: 'forzamedium';
    font-size: 0.875em;
}

/*  */

footer {
    text-align: center;
    font-size: 12px;
    padding: 3em 0;
}

footer p {
    width: 90vw;
    margin: auto;
    margin-top: 10px;
}