@import url(/fonts/forza.css);

body {
    margin: 0;
    background-color: rgb(32, 32, 32);
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "forzamedium";
    box-sizing: border-box; /* Added to prevent overflow */
    overflow-x: hidden; /* Fixes horizontal overflow */
}

header {
    background: black;
    background-image: url(/imgs/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 2em;
    display: flex;
    align-items: center;
    border-bottom: 7px solid #FF5000;
}

a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: larger;
    color: white;
    transition: ease-in-out 400ms;
    text-decoration: none;
}

header span {
    padding-left: 0.625em;
    padding-right: 0.625em;
    font-size: 1.25em;
    transition: ease-in-out 400ms;
    cursor: pointer;
}

header a {
    padding-left: 0.625em;
    padding-right: 0.625em;
    font-size: 1.25em;
    color: white;
    text-decoration: none;
    transition: ease-in-out 400ms;
}

header a:hover {
    background: #FF5000;
    border-radius: 6px;
    color: black;
    cursor: pointer;
}

.logo:hover {
    background: transparent;
}

header img:last-child {
    margin-left: auto;
}

.logo:hover {
    background: transparent;
}

.bunny {
    height: 50%;
    align-self: flex-end;
}

a:hover, span:hover {
    background-color: #FF5000;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #FF5000;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover span {
    background-color: #FF5000;
    border-radius: 6px;
    color: black;
    cursor: pointer;
}

.container{
    margin: 0 auto;
    width: 90vw;
    max-width: 1200px;
}

.container h1{
    text-align: center;
}

.container p{
    text-align: center;
    font-size: 1.2em;
}

.kirkaio{
    padding-left: 0;
    padding-right: 0;
    border-radius: 5px;
    font-size: 1em;
}

footer {
    text-align: center;
    font-size: 12px;
    padding: 3em 0;
}

footer p {
    width: 90vw;
    margin: auto;
    margin-top: 10px;
}

@media (max-width: 450px) {
    body {
        flex-direction: column;
        align-items: flex-start;
        overflow-x: hidden; /* Ensures no horizontal scroll on mobile */
    }

    header {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    header a, header span {
        display: block;
        margin-bottom: 10px;
    }


}