@import url(/fonts/forza.css);

* {
    margin: 0;
}

body {
    background-color: rgb(32, 32, 32);
    font-family: 'forzamedium';
    color: white;
    overflow-x: hidden;
}

header {
    background: black;
    background-image: url(/imgs/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 2em;
    display: flex;
    align-items: center;
    border-bottom: 7px solid #FF5000;
}

a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: larger;
    color: white;
    transition: ease-in-out 400ms;
    text-decoration: none;
}

header span {
    padding-left: 0.625em;
    padding-right: 0.625em;
    font-size: 1.25em;
    transition: ease-in-out 400ms;
    cursor: pointer;
}

header a {
    padding-left: 0.625em;
    padding-right: 0.625em;
    font-size: 1.25em;
    color: white;
    text-decoration: none;
    transition: ease-in-out 400ms;
}

header a:hover {
    background: #FF5000;
    border-radius: 6px;
    color: black;
    cursor: pointer;
}

.logo:hover {
    background: transparent;
}

header img:last-child {
    margin-left: auto;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 2em;
    margin: auto;
    width: 60vw;
}

.member-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.member, .vip, .normies {
    text-align: center;
    transition: transform 0.3s;
}

.vip-section {
    width: 100%;
    text-align: center;
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.vip {
    flex: 1 1 calc(33.33% - 40px); /* Adjust to fit 3 per row */
    margin: 10px;
    text-align: center;
}

.member img, .vip img, .normies img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.member p, .vip p, .normies p {
    margin-top: 10px;
    font-size: 1.2em;
}

footer {
    text-align: center;
    font-family: 'forzamedium';
    color: white;
    font-weight: 200;
    margin: 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #FF5000;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover span {
    background-color: #FF5000;
    border-radius: 6px;
    color: black;
    cursor: pointer;
}

.badges {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 1em;
}

.badges img {
    width: 20px;
    height: 20px;
    border-radius: 0;
}

.popup {
    position: absolute;
    background-image: url(/imgs/bg.jpg);
    color: white;
    padding: 0.3125em;
    border-radius: 0.3125em;
    border: 0.0625em solid #FF5000;
    z-index: 1000;
    font-family: 'forzamedium';
    font-size: 0.875em;
}

.member-intro {
    margin-top: 4em;
    margin-bottom: 6em;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 5px;
    white-space: nowrap;
    p {
        margin-top: 0px;
    }
}

.lead-txt, .member-txt {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 0.5em;
    position: relative; 
    left: 0;
    transform: none; 
}

.lead-txt::after, .member-txt::after {
    content: '';
    display: block;
    width: 1200px;
    height: 2px;
    background-color: white;
    height: 2px;
    background-color: white;
    margin: 0.5em auto 0;
}

.normies, .cc, .ogs-member, .homeless{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
    text-decoration: none;
}

.ogs-member{
    margin-bottom: 2em;
}

.expand{
    transition: transform 0.3s;
    gap: 20px;
    padding: 1em;
    margin: 0.5em;
    width: 80vw;
    text-align: left;
    margin-top: 0.5em;
    position: relative;
    left: 0;
    transform: none;
}


.expand:hover{
    transform: scale(1.05);
    cursor: pointer;
    color: #FF5000;
}


/* .member {
    flex: 1 1 calc(16.66% - 20px);
    margin: 5px;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s;
} */

.member:hover, .vip:hover {
    transform: scale(1.05);
    color: #FF5000;
    text-decoration: underline;
}

.member:hover a, .vip:hover a {
    color: #FF5000;
}

 .vip-text{
text-align: center;
}

@media (max-width: 450px) {
    body {
        flex-direction: column;
        align-items: flex-start;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header a, header span {
        display: block;
        margin-bottom: 10px;
    }

    .gallery {
        width: 100%;
    }

    .member-list {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .vip-section {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}